* {
	margin: 0;
	padding: 0;
	background-color: #1e293b;
	color: white;
	font-family: 'Saira Condensed', sans-serif;
}

.title {
	font-family: 'Bebas Neue', cursive;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/font/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Saira Condensed';
  src: url('./assets/font/SairaCondensed-Light.ttf');
}
